.btn {
    display: inline-block;
    font-size: 18px;
    line-height: 20px;
    font-family: $inter-bold, $sans-serif;
    background-color: $light-brown;
    color: $white;
    padding: 25px 38px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s linear;
    &:hover {
        opacity: 0.8;
    }
    @include breakpoint($mobile-bp) {
        font-size: 16px;
        line-height: 18px;
        padding: 20px 15px;
    }
}