.title {
  font-family: $righteous-regular;
  font-size: 48px;
  line-height: 62px;
  color: $white;
  margin-bottom: 36px;
  text-align: center;
  @include breakpoint($mobile-bp) {
    font-size: 30px;
    line-height: 32px;
  }
}