.menu{
  padding: 70px 0;
  &__container{
    max-width: 1200px;
  }
  &__subtitle {
    font-family: $urbanist-semiBold, $sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: $light-brown;
    text-align: center;
    margin-bottom: 12px;
  }
  &__title {
    font-family: $righteous-regular, $sans-serif;
    font-size: 48px;
    line-height: 50px;
    color: $white;
    text-align: center;
    margin-bottom: 56px;
  }
  &__text{
    font-family: $righteous-regular, $sans-serif;
    font-size: 24px;
    line-height: 26px;
    color: $white;
    margin-left: 20px;
    margin-right: auto;
  }
  &__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 42px;
    grid-row-gap: 36px;
  }
  &__item{
      display: flex;
      align-items: center;
    justify-content: space-between;
    border: 1px solid#32323D;
    padding: 24px;
  }
}