.reservation {
  padding: 70px 0;

  &__container {
    max-width: 1200px;
  }

  &__subtitle {
    font-family: $urbanist-semiBold, $sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: $light-brown;
    text-align: center;
    margin-bottom: 12px;
  }

  &__title {
    font-family: $righteous-regular, $sans-serif;
    font-size: 48px;
    line-height: 50px;
    color: $white;
    text-align: center;
    margin-bottom: 56px;
  }

  &__wrapper {
    background-color: $second-brown;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__left {
    background-image: url(/image/map.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50%;
  }

  &__right {
    padding: 72px 48px;
    width: 50%;
  }

  &__field {
    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &:last-child {
      margin-bottom: 54px;
    }
  }
  &__form{
    text-align: center;
  }

  &__input {
    width: 100%;
    background-color: $dark-brown;
    padding: 18px 30px 18px;
    font-size: 18px;
    font-family: $urbanist-semiBold;
    line-height: 18px;
    border: 0;
    color: $white;

    &::placeholder {
      font-size: 18px;
      font-family: $righteous-regular;
      line-height: 18px;
      opacity: 0.8;
      color: $white;
    }
  }

  &__btn {
    display: inline-block;
    text-align: center;
  }
}