.technics {
    padding: 70px 0;
    &__container{
        max-width: 1200px;
    }

    &__wrap {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 70px 0;
        background-color: $second-brown;
    }
    // &__left,
    // &__right {
    //     width: 50%;
    // }
    &__right {
        padding-left: 100px;
        max-width: 638px;
        width: 100%;
    }
    &__image {
        display: flex;
        justify-content: center;
        img {
            display: block;
            width: 100%;
        }
    }
    &__title {
        font-family: $righteous-regular;
        font-size: 48px;
        line-height: 50px;
        color: $white;
        margin-bottom: 36px;
    }
    &__text {
        font-family: $urbanist-medium;
        font-size: 16px;
        line-height: 28px;
        color: $white;
        margin-bottom: 36px;
        text-transform: capitalize;
    }
    &__btn {
        display: inline-block;
    }
}