.technics {
    padding: 70px 0;
    &__container{
        max-width: 1200px;
    }

    &__wrap {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 70px 0;
        background-color: $second-brown;
        @include breakpoint($mobile-bp) {
          flex-direction: column;
            padding: 20px;
        }
    }

    &__right {
        padding-left: 100px;
        max-width: 638px;
        width: 100%;
        @include breakpoint($mobile-bp) {
           padding-left: 0;
            text-align: center;
        }
    }
    &__image {
        display: flex;
        justify-content: center;
        @include breakpoint($mobile-bp) {
            margin-bottom: 25px;
        }
        img {
            display: block;
            width: 100%;
        }
    }
    &__title {
      text-align: start;
        @include breakpoint($mobile-bp) {
            text-align: center;
        }
    }
    &__text {
        font-family: $urbanist-medium;
        font-size: 16px;
        line-height: 28px;
        color: $white;
        margin-bottom: 36px;
        text-transform: capitalize;
    }
    &__btn {
        display: inline-block;
    }
}