/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Inter Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Inter/Inter-Bold.woff2) format("woff2"), url(../fonts/Inter/Inter-Bold.woff) format("woff"), url(../fonts/Inter/Inter-Bold.ttf) format("ttf");
}
@font-face {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Inter/Inter-Regular.woff2) format("woff2"), url(../fonts/Inter/Inter-Regular.woff) format("woff"), url(../fonts/Inter/Inter-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "Righteous Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Righteous/Righteous-Regular.woff2) format("woff2"), url(../fonts/Righteous/Righteous-Regular.woff) format("woff"), url(../fonts/Righteous/Righteous-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "Urbanist Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Urbanist/Urbanist-Medium.woff2) format("woff2"), url(../fonts/Urbanist/Urbanist-Medium.woff) format("woff"), url(../src/fonts/Urbanist/Urbanist-Medium.ttf) format("ttf");
}
@font-face {
  font-family: "Urbanist SemiBold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Urbanist/Urbanist-SemiBold.woff2) format("woff2"), url(../fonts/Urbanist/Urbanist-SemiBold.woff) format("woff"), url(../fonts/Urbanist/Urbanist-SemiBold.ttf) format("ttf");
}
*:after,
*:before,
* {
  box-sizing: border-box;
}

input,
textarea {
  outline: 0;
}

textarea {
  resize: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1950px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  background-color: #14110E;
}

.dots {
  display: flex;
  justify-content: flex-start;
  font-size: 0;
  line-height: 0;
  background-color: #2b2926;
}
.dots .slick-active button {
  background-color: #C99E71;
}
.dots button {
  width: 30px;
  height: 4px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  transition: all 0.2s linear;
}
.dots button:hover {
  background-color: #C99E71;
}

.btn {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  font-family: "Inter Bold", sans-serif;
  background-color: #C99E71;
  color: #fff;
  padding: 25px 38px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
.btn:hover {
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  .btn {
    font-size: 16px;
    line-height: 18px;
    padding: 20px 15px;
  }
}

.footer {
  padding: 70px 0 0 0;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 72px;
}
@media screen and (max-width: 1024px) {
  .footer__wrap {
    flex-direction: column;
  }
}
.footer__container {
  max-width: 1200px;
}
.footer__form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer__link {
  padding: 31px 19px;
  display: block;
}
@media screen and (max-width: 1024px) {
  .footer__link {
    padding: 20px 20px;
  }
}
@media screen and (max-width: 768px) {
  .footer__link {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .footer__item, .footer__logo {
    margin-bottom: 20px;
  }
}
.footer__nav {
  margin-right: auto;
}
@media screen and (max-width: 1024px) {
  .footer__nav {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .footer__menu {
    flex-direction: column;
  }
}
.footer__text {
  font-size: 18px;
  font-family: "Inter Regular", sans-serif;
  color: #fff;
  line-height: 22px;
  transition: all 0.2s linear;
}
.footer__text:hover {
  color: #C99E71;
}
.footer__form {
  text-align: center;
  position: relative;
}
.footer__input {
  width: 100%;
  background-color: #1C1814;
  border-radius: 36px;
  padding: 25px 44px 25px;
  font-size: 18px;
  font-family: "Urbanist SemiBold";
  line-height: 18px;
  border: 0;
  color: #fff;
}
.footer__input::placeholder {
  font-size: 16px;
  font-family: "Urbanist Medium";
  line-height: 18px;
  opacity: 0.8;
  color: #fff;
  text-transform: capitalize;
}
.footer__btn {
  position: absolute;
  right: 12px;
  z-index: 3;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C99E71;
  transition: all 0.2s linear;
}
.footer__btn:hover {
  opacity: 0.8;
}
.footer__copyright {
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1C1814;
}
.footer__copyright-text {
  font-family: "Urbanist Medium", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.header {
  background-color: #14110E;
}
@media screen and (max-width: 1024px) {
  .header {
    display: flex;
    align-items: center;
  }
}
.header__nav, .header__controls {
  width: 50%;
}
.header__link {
  padding: 31px 22px;
  display: inline-block;
}
@media screen and (max-width: 1024px) {
  .header__link {
    padding: 15px 22px;
  }
}
.header__text {
  font-size: 18px;
  font-family: "Inter Regular", sans-serif;
  color: #fff;
  line-height: 22px;
  transition: all 0.2s linear;
}
.header__text:hover {
  color: #C99E71;
}
.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__menu.active {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .header__menu {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: black;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__menu {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .nav__menu {
    flex-direction: column;
  }
}
.nav__text {
  font-size: 18px;
  font-family: "Inter Regular", sans-serif;
  color: #fff;
  line-height: 22px;
}

.burger {
  display: none;
}
@media screen and (max-width: 1024px) {
  .burger {
    display: block;
    color: #fff;
    font-size: 55px;
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 6;
  }
}
.logo {
  display: block;
}
.logo--mobile {
  display: none;
}
@media screen and (max-width: 1024px) {
  .logo--mobile {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  .logo--desktop {
    display: none;
  }
}

.controls--mobile {
  display: none;
}
@media screen and (max-width: 1024px) {
  .controls--mobile {
    display: flex;
  }
}
@media screen and (max-width: 1024px) {
  .controls--desktop {
    display: none;
  }
}

.title {
  font-family: "Righteous Regular";
  font-size: 48px;
  line-height: 62px;
  color: #fff;
  margin-bottom: 36px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 30px;
    line-height: 32px;
  }
}

.subtitle {
  font-family: "Urbanist SemiBold", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #C99E71;
  text-align: center;
  margin-bottom: 12px;
}

.hero {
  background-image: url(../image/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
.hero__wrap {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 574px;
  width: 100%;
  padding: 150px 0;
}
.hero__title {
  font-family: "Righteous Regular", sans-serif;
  font-size: 72px;
  line-height: 94px;
  color: #fff;
  margin-bottom: 32px;
  letter-spacing: 3px;
}
@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 45px;
    line-height: 58px;
  }
}
.hero__text {
  font-family: "Urbanist Medium", sans-serif;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  margin-bottom: 88px;
}

.instruction {
  background-color: #14110E;
  padding: 140px 0 70px;
}
@media screen and (max-width: 768px) {
  .instruction {
    flex-direction: column;
    padding: 70px 0;
  }
}
.instruction__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
@media screen and (max-width: 768px) {
  .instruction__list {
    flex-direction: column;
    align-items: center;
  }
}
.instruction__item {
  width: 31%;
}
@media screen and (max-width: 768px) {
  .instruction__item {
    margin-bottom: 20px;
    width: 100%;
  }
}
.instruction img {
  display: block;
  width: 100%;
}
.instruction__wrap {
  margin-bottom: 24px;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .instruction__wrap {
    text-align: center;
  }
}
.instruction__number {
  display: inline-block;
  font-family: "Righteous Regular";
  font-size: 24px;
  line-height: 26px;
  color: #C99E71;
  margin-right: 12px;
}
.instruction__title {
  display: inline-block;
  font-family: "Righteous Regular";
  font-size: 24px;
  line-height: 26px;
  color: white;
  letter-spacing: 2px;
}
@media screen and (max-width: 1024px) {
  .instruction__title {
    font-size: 16px;
    line-height: 18px;
  }
}

.about-us {
  padding: 70px 0;
}
.about-us__grid {
  display: grid;
  grid-template-columns: 25% 25% 42%;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .about-us__grid {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .about-us__grid {
    display: block;
  }
}
.about-us__grid-item-1 {
  grid-area: 1/1/2/2;
}
@media screen and (max-width: 768px) {
  .about-us__grid-item-1 {
    display: none;
  }
}
.about-us__grid-item-2 {
  grid-area: 2/1/3/2;
}
@media screen and (max-width: 768px) {
  .about-us__grid-item-2 {
    display: none;
  }
}
.about-us__grid-item-3 {
  grid-area: 1/2/3/3;
}
@media screen and (max-width: 768px) {
  .about-us__grid-item-3 {
    display: none;
  }
}
.about-us__grid-item-4 {
  grid-area: 1/3/3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1C1814;
  padding: 25px 52px;
}
@media screen and (max-width: 1024px) {
  .about-us__grid-item-4 {
    grid-area: 3/1/5/3;
  }
}
@media screen and (max-width: 1024px) {
  .about-us__grid-item-4 {
    padding: 25px 10px;
  }
}
.about-us img {
  display: block;
  width: 100%;
}
.about-us__subtitle, .about-us__title {
  text-align: start;
}
.about-us__text {
  font-family: "Urbanist Medium";
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  opacity: 0.8;
}

.products {
  padding: 70px 0;
}
.products__slider {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 56px;
}
.products__slider .slick-track {
  width: auto;
  transform: translate(0);
}
.products__slider-link {
  display: block;
  margin: 0 18px;
  background-color: #121315;
  width: 100%;
  max-width: 30%;
}
.products__slider-body {
  text-align: center;
  padding: 48px 48px 40px;
}
@media screen and (max-width: 768px) {
  .products__slider-body {
    font-size: 30px;
    line-height: 32px;
    padding: 0;
  }
}
.products__slider-image {
  margin-bottom: 38px;
}
.products__slider img {
  display: block;
  width: 100%;
}
.products__slider-top {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}
.products__slider-text {
  font-family: "Urbanist Medium", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #C99E71;
  text-transform: uppercase;
  margin-right: 14px;
}
.products__slider-title {
  font-family: "Righteous Regular", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .products__slider-title {
    font-size: 20px;
  }
}
.products__slider-price {
  font-family: "Inter Regular", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
}
.products__stars {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.products__stars-item {
  margin-right: 8px;
}
.products__stars-item:last-child {
  margin-right: 0;
}
.products__btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.brown {
  font-family: "Urbanist SemiBold", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #C99E71;
  text-transform: uppercase;
}

.technics {
  padding: 70px 0;
}
.technics__container {
  max-width: 1200px;
}
.technics__wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  background-color: #1C1814;
}
@media screen and (max-width: 768px) {
  .technics__wrap {
    flex-direction: column;
    padding: 20px;
  }
}
.technics__right {
  padding-left: 100px;
  max-width: 638px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .technics__right {
    padding-left: 0;
    text-align: center;
  }
}
.technics__image {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .technics__image {
    margin-bottom: 25px;
  }
}
.technics__image img {
  display: block;
  width: 100%;
}
.technics__title {
  text-align: start;
}
@media screen and (max-width: 768px) {
  .technics__title {
    text-align: center;
  }
}
.technics__text {
  font-family: "Urbanist Medium";
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 36px;
  text-transform: capitalize;
}
.technics__btn {
  display: inline-block;
}

.menu {
  padding: 70px 0;
}
.menu__container {
  max-width: 1200px;
}
.menu__text {
  font-family: "Righteous Regular", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #fff;
  margin-left: 20px;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .menu__text {
    font-size: 16px;
    line-height: 20px;
    margin-left: 12px;
  }
}
.menu__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 42px;
  grid-row-gap: 36px;
}
@media screen and (max-width: 768px) {
  .menu__list {
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }
}
.menu__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #32323D;
  padding: 24px;
}
@media screen and (max-width: 768px) {
  .menu__item {
    padding: 12px;
  }
}

.reviews {
  padding: 70px 0;
}
.reviews__container {
  max-width: 1200px;
}
.reviews__slider {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}
.reviews__slider-item {
  background-color: #1C1814;
  width: calc(50% - 20px);
  padding: 40px;
  margin: 0 20px;
}
@media screen and (max-width: 768px) {
  .reviews__slider-item {
    padding: 15px;
  }
}
.reviews__top {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}
@media screen and (max-width: 768px) {
  .reviews__top {
    flex-direction: column;
  }
}
.reviews__bottom {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    margin-bottom: 10px;
  }
}
.reviews__text {
  font-family: "Urbanist Medium", sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  opacity: 0.8;
  text-transform: capitalize;
  margin-left: 24px;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    text-align: center;
    margin-left: 0;
  }
}
.reviews__name {
  font-family: "Urbanist Medium", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 4px;
}
@media screen and (max-width: 768px) {
  .reviews__name {
    font-size: 16px;
  }
}
.reviews__position {
  font-family: "Urbanist Medium", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  opacity: 0.5;
  text-transform: capitalize;
}
.reviews__stars {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.reviews__stars-item {
  margin-right: 4px;
}
.reviews__stars-item:last-child {
  margin-right: 0;
}
.reviews__arrow {
  position: absolute;
  bottom: -75px;
  z-index: 1;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: stroke, background-color 0.2s linear;
}
.reviews__arrow path {
  stroke: #fff;
}
.reviews__arrow-prev {
  right: 90px;
}
@media screen and (max-width: 768px) {
  .reviews__arrow-prev {
    left: 50%;
    margin-left: -45px;
    transform: translate(-50%);
  }
}
.reviews__arrow-next {
  right: 20px;
}
@media screen and (max-width: 768px) {
  .reviews__arrow-next {
    right: 50%;
    margin-right: -45px;
    transform: translate(50%);
  }
}
.reviews__arrow:hover {
  background-color: #C99E71;
}
.reviews__arrow:hover path {
  stroke: #1C1814;
}
.reviews__dots {
  position: absolute;
  bottom: -64px;
  left: 2%;
}
@media screen and (max-width: 768px) {
  .reviews__dots {
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.reservation {
  padding: 70px 0;
}
.reservation__container {
  max-width: 1200px;
}
.reservation__wrapper {
  background-color: #1C1814;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .reservation__wrapper {
    flex-direction: column;
    justify-content: normal;
  }
}
.reservation__left {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .reservation__left {
    height: 400px;
    width: 100%;
  }
}
.reservation__map {
  height: 100%;
  width: 100%;
  z-index: 1;
}
.reservation__right {
  padding: 72px 48px;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .reservation__right {
    width: 100%;
    padding: 35px 5px;
  }
}
.reservation__field:not(:last-child) {
  margin-bottom: 24px;
}
.reservation__field:last-child {
  margin-bottom: 54px;
}
.reservation__form {
  text-align: center;
}
.reservation__input {
  width: 100%;
  background-color: #14110E;
  padding: 18px 30px 18px;
  font-size: 18px;
  font-family: "Urbanist SemiBold";
  line-height: 18px;
  border: 0;
  color: #fff;
}
.reservation__input::placeholder {
  font-size: 18px;
  font-family: "Righteous Regular";
  line-height: 18px;
  opacity: 0.8;
  color: #fff;
}
.reservation__btn {
  display: inline-block;
  text-align: center;
}

.news {
  padding: 70px 0;
}
.news__wrap {
  padding: 24px;
}
.news__container {
  max-width: 1200px;
}
.news__subtitle {
  font-family: "Urbanist SemiBold", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #C99E71;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 12px;
}
.news__title {
  font-family: "Righteous Regular", sans-serif;
  font-size: 48px;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 56px;
}
@media screen and (max-width: 768px) {
  .news__title {
    font-size: 30px;
    line-height: 32px;
  }
}
.news__slider {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.news__slider-link {
  display: block;
  background-color: #1C1814;
  width: 100%;
  max-width: 32%;
  margin: 0 18px;
}
.news__slider img {
  display: block;
  width: 100%;
}
.news__slider-title {
  font-family: "Righteous Regular", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 33px;
}
.news__slider-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.news__slider-bottom {
  display: flex;
  align-items: center;
}
.news__by, .news__date {
  font-family: "Urbanist Medium", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}
.news__more {
  font-family: "Urbanist Medium", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #C99E71;
  margin-right: 20px;
}